/* .App{
    background-color: blue;
}
ul {
    background-color: blue;
}

li {
    border:black;
}

.card-body {
    background-color: white;
}

.card-header {
    background-color: red;
    border-bottom-color:ghostwhite;
}

.card.border-info {
    border-bottom-color: black;
}

.btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: white;
} */