/* #authorize-button {
    background-color: red;
    color: white;
}

#signsout-button {
    background-color: red;
    color: white;
}

#content,
#authorize-button,
#signout-button {
    display: none;
} */